.catalog {
  width: 100%;
  display: flex;
  justify-content: center;
}

.catalog_section {
  margin: 15px 0 0 0;
  width: 11%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #5a616e;
  border-right: 0.01px solid black;
  border-left: 0.01px solid black;
  user-select: none;
}

/* need fix */
.catalog_section:hover span {
  color: yellow;
}

.catalog_section:active span {
  color: red;
}

.catalog_section span {
  display: flex;
  justify-content: center;
  font-size: 3vh;
  padding: 20%;
}
.catalog_section:nth-child(1) {
  border-radius: 5% 0 0 0;
  border-left: none;
}
.catalog_section:last-child {
  border-radius: 0 5% 0 0;
  border-right: none;
}
.toggle {
  background: none;
  color: white;
  font-size: 4vh;
  border: none;
}

.catalog_in {
  position: absolute;
  top: 30%;
  display: flex;
  justify-content: space-around;
  width: 90%;
  height: 65%;
  box-shadow: 0px 0px 10px 0px black;
  background-color: white;
  border-radius: 5px;
  animation: fadeIn 0.3s linear;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

.catalog_out {
  position: absolute;
  top: 30%;
  display: flex;
  justify-content: space-around;
  width: 90%;
  height: 65%;
  box-shadow: 0px 0px 10px 0px black;
  background-color: white;
  border-radius: 5px;
  animation: fadeOut 0.3s linear;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0.7;
  }

  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
  }
}

.catalog_link {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  align-content: space-around;
  margin: 15px 15px;
  width: 100%;
  flex-wrap: wrap;
}
.catalog_link_text {
  /* border: 1px solid red; */
  width: 20%;
  height: 10%;
  margin: 0px 25px;
  font-size: 1.1em;
  font-weight: 500;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.link {
  text-decoration: none;
  color: black;
}
.link:hover {
  color: rgb(3, 103, 253);
}
