.catalog {
  width: 100%;
  display: flex;
  justify-content: center;
}

.catalog_section {
  margin: 15px 0 0 0;
  width: 11%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #5a616e;
  border-right: 0.01px solid black;
  border-left: 0.01px solid black;
  user-select: none;
}

.catalog_section:hover button {
  font-size: 5vh;
}

.catalog_section:active button {
  color: aqua;
}

.catalog_section span {
  display: flex;
  justify-content: center;
  font-size: 3vh;
  padding: 20%;
}
.catalog_section:nth-child(1) {
  border-radius: 5% 0 0 0;
  border-left: none;
}
.catalog_section:last-child {
  border-radius: 0 5% 0 0;
  border-right: none;
}
.toggle {
  background: none;
  color: white;
  font-size: 4vh;
  border: none;
}

.catalog_section_isActive {
  border-bottom: 2px solid rgba(155, 54, 54, 0.568);
}

.catalog_in {
  position: absolute;
  top: 35%;
  display: flex;
  justify-content: space-around;
  width: 90%;
  height: 90%;
  box-shadow: 0px 0px 10px 0px black;
  background-color: white;
  animation: fadeIn 0.3s linear;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.catalog_out {
  position: absolute;
  top: 35%;
  display: flex;
  justify-content: space-around;
  width: 90%;
  height: 90%;
  box-shadow: 0px 0px 10px 0px black;
  background-color: white;
  opacity: 0;
  animation: fadeOut 0.3s linear;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

.catalog_link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 15px 0;
  width: 25%;
}
.catalog_link_text {
  border: 1px solid red;
  width: 75%;
  height: 25%;
  margin: 2px 0;
  font-size: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
