.card {
  width: 100%;
}

/* header bottom */

.card_bottom {
  display: flex;
  justify-content: space-between;
}

.card_bottom_left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_bottom_right {
  display: flex;
  justify-content: center;
  align-items: center;
}
