.main_catalog {
  width: 100%;
  display: flex;
  justify-content: center;
  /* border: 1px solid red; */
}

.main_catalog_section {
  padding: 4.5vh;
  margin: 15px 0 0 0;
  width: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #5a616e;
  border-right: 0.01px solid black;
  border-left: 0.01px solid black;
}
.main_catalog_section:nth-child(1) {
  border-radius: 5% 0 0 0;
  border-left: none;
}
.main_catalog_section:last-child {
  border-radius: 0 5% 0 0;
  border-right: none;
}
