/* products */

.product_box {
  width: 100%;
  margin: 20px 0 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* background-color: grey; */
}
.product_top {
  width: 100%;
  margin: 20px 0 20px 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* background-color: grey; */
}

.product_image {
  width: 30%;
  min-height: 50;
  border-radius: 5%;
  /* border: 1% solid gray; */
  box-shadow: 0px 4px 7px 1px rgba(71, 71, 71, 0.274);
  background-color: white;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.image {
  /*  */
}

.product_text {
  width: 60%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  /* margin-right: 15px; */
}

.product_text_top {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 15px;
  font-size: 4vh;
  /* border-bottom: 1px solid grey; */
}

.product_text_top_code {
  font-size: 1.5vh;
  border-bottom: 1px solid grey;
}

.product_text_mid {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.product_text_mid_top {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 15px;
  font-size: 4vh;
}
.product_text_mid_top span {
  font-size: 4vh;
  border-bottom: 1px solid grey;
}
.product_text_mid_top button {
  text-align: center;
  padding: 10px 5px;
  margin: 15px 0px;
  font-size: 4vh;
}

.product_text_bottom {
  width: 100%;
  padding: 15px;
}

.product_text_bottom div {
  border-bottom: 1px solid grey;
}
